<h1>Details</h1>
<h2><p><%= @restaurant.name %></p></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>

<h1>Reviews</h1>
<% @restaurant.reviews.each do |review| %>
  <h2><%= review.rating %> * </h2>
  <p><%= review.content %></p>
<% end %>

<p><%= link_to "Add a review", new_restaurant_review_path(@restaurant) %></p>
<p><%= link_to "Back to overview", restaurants_path %></p>
